.relogio{
    display: flex;
    justify-content: space-evenly;
    color: #FFF;
    font-weight: bold;
    font-size: 28px;


    
}

#relogio {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}





